  
@import './variables';
@import './basics';

.wraper{
    width: 100vw;
  
    background: $bg-color-light;

   .img-thumbnail{
        width: 100px;
    }
    .img-header-container{
        width: 100%;
        height: 300px;
        background-image: url('./marvel-universe.jpg');
        background-size: cover;
        background-position: center;
        filter: brightness(70%);
        filter: blur(2px);
        
    }
        .main-container{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            height: 2000px;
            padding:0 100px;
            overflow:scroll;
  

            .search-bar-container{
                margin-top: 30px;
                display: flex;
                justify-content: center;
                align-items: baseline;
                background-color:$bg-color-dark;
                color: $text-color-light;
                width: 100%;
                padding: 40px;

                label{
                    margin: 0 2px;
                    font-size: 1.3rem;
                }
                input{
                    margin: 0 10px;
                    text-align: center;
                    width: 150px;
                }

                button{
                    margin-left: 30px;
                    border: none;
                    background: $bg-color-light;
                    padding:10px;
                    transition: all 0.3s;
                    color: $text-color-dark;

                    &:hover{
                        color: $text-color-light;
                        background:$bg-color-dark;
                        outline: 1px solid  $bg-color-light;
                    }
                }
               
            }

            .loader{
                font-size: 5rem;
            }

            .list-container{
                list-style-type: none;
                width: 100%;

                .single-item{
                    margin: 2px;
                    border: 1px solid $bg-color-dark;
                    border-radius: 5px;
                    width: 100%;
                   
                    a{
                        display: grid;
                        grid-template-columns: 150px 150px 150px;
                        grid-template-rows: auto;
                        grid-template-areas: 
                          "img title title"
                          "img desc desc"
                          "img desc desc";
                        text-decoration: none;
                    }
                    padding: 10px;

                    h3{
                        grid-area: title;
                        font-size: 2rem;
                        font-weight: bold;
                        color: $text-color-dark;
                    }

                    p{
                        font-size: 1rem;
                        font-weight: bold;
                        color: $text-color-dark;
                        grid-area: desc;
                    }

                    .img-thumbnail{
                        grid-area: img;
                        justify-self: center;
                        align-self: center;
                    }
                }

             
            }

            .no-results{
                font-size: 2rem;
                font-weight: bold;
                color: $text-color-dark;
            }
        }
 
}