* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: white;
}

/* 
////////////////PRE SET/////////////////////////// */
.wraper {
  width: 100vw;
  background: #b8cb7b;
}

.wraper .img-thumbnail {
  width: 100px;
}

.wraper .img-header-container {
  width: 100%;
  height: 300px;
  background-image: url("./marvel-universe.jpg");
  background-size: cover;
  background-position: center;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.wraper .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 2000px;
  padding: 0 100px;
  overflow: scroll;
}

@media only screen and (max-width: 600px) {
  .wraper .main-container {
    padding: 20px;
  }
}

.wraper .main-container .search-bar-container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #553739;
  color: #d6efff;
  width: 100%;
  padding: 40px;
}

@media only screen and (max-width: 800px) {
  .wraper .main-container .search-bar-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3px;
  }
}

.wraper .main-container .search-bar-container label {
  margin: 0 2px;
  font-size: 1.3rem;
}

.wraper .main-container .search-bar-container input {
  margin: 0 10px;
  text-align: center;
  width: 150px;
}

.wraper .main-container .search-bar-container button {
  margin-left: 30px;
  border: none;
  background: #b8cb7b;
  padding: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #243E36;
}

.wraper .main-container .search-bar-container button:hover {
  color: #d6efff;
  background: #553739;
  outline: 1px solid #b8cb7b;
}

@media only screen and (max-width: 800px) {
  .wraper .main-container .search-bar-container button {
    margin: 10px 0 0 0;
  }
}

.wraper .main-container .loader {
  font-size: 5rem;
}

.wraper .main-container .list-container {
  list-style-type: none;
  width: 100%;
}

.wraper .main-container .list-container .single-item {
  margin: 2px;
  border: 1px solid #553739;
  border-radius: 5px;
  width: 100%;
  background: whitesmoke;
  padding: 10px;
}

.wraper .main-container .list-container .single-item a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 34% 33% 33%;
      grid-template-columns: 34% 33% 33%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "img title title" "img desc desc" "img desc desc";
  text-decoration: none;
}

.wraper .main-container .list-container .single-item h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: title;
  font-size: 2rem;
  font-weight: bold;
  color: #243E36;
}

@media only screen and (max-width: 600px) {
  .wraper .main-container .list-container .single-item h3 {
    font-size: 1.3rem;
  }
}

.wraper .main-container .list-container .single-item p {
  font-size: 1rem;
  font-weight: bold;
  color: #243E36;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: desc;
  width: 100%;
}

.wraper .main-container .list-container .single-item .img-thumbnail {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: img;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.wraper .main-container .no-results {
  font-size: 2rem;
  font-weight: bold;
  color: #243E36;
}
/*# sourceMappingURL=style.css.map */